//DEFAULT STYLE//
.top-line{
	position: relative;
	@include clearfix;
	&__logo{
		display: inline-block;
		margin-top: 25px;
		@include MQ(sm) {
			
		}
		@include MQ(xs) {
			display: block;
			float: none;
			text-align: center;
			margin-left: 0;
			margin-top: 15px;
		}
	}
	&__shop{
		display: block;
		font-size: .75em;
		background: #c32a4b;
		color: #fff;
		text-align: center;
		padding: 10px 15px;
		border-radius: 30px;
		margin: 20px 0;
		box-shadow: 1px 1px 1px rgba(142,27,52,.5);
		@include MQ(sm) {
			margin-right: 10px;
		}
		@include MQ(xs) {
			float: none;
			font-size: 1em;
			margin-right: 0;
		}
		&:hover{
			color: #fff;
			background-color: #ff5534;
			background-image: -webkit-linear-gradient(#ff5534 0,#e4003a 100%);
			background-image: linear-gradient(#ff5534 0,#e4003a 100%);
		}
	}
}

.nav{
	margin-top: 20px;
	&-list{
		position: relative;
		margin-top: 0px;
		margin-bottom: 0;
	}
	&-item{
		display: inline-block;
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
		}
	}
	&-link{
		color: #ffffff;
		font-size: 16px;
		font-weight: 300;
		padding: 0;
		transition:all .5s;
		&:hover{
			transition:all .5s;
			color: #f20d24;
			text-decoration: underline;
		}
	}
}

.top-banner{
	position: relative;
	&__img{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}
.header-title-wrapper{
	margin-top: 150px;
	@include MQ(lg){
		margin-top: 100px;
	}
}
.header{
	position: relative;
	background: #353a43 url(https://fast.ulmart.ru/ns/verstka/fulfillment/img/header-bg.jpg)no-repeat;
	min-height: 711px;
	background-size: cover; 
	&-title{
		font-size: 68px;
		color: #f20d24;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 30px;
		span{
			color: #ffffff;
		}
		@include MQ(lg){
			font-size: 60px;
		}
	}
	&-text{
		font-size: 18px;
		color: #fff;
		font-weight: 300;
		margin-bottom: 50px;
		line-height: 1.5;
	}
	&-btn{
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		border:1px solid #fff;
		border-radius: 3px;
		background: transparent;
		padding: 18px 62px;
		transition: all .5s;
		&:hover{
			color: #fff;
			background: #e51126;
			border: 1px solid #e51126;
			transition: all .5s;
		}
	}
}

.sub-title{
	font-size: 48px;
	color: #7c808b;
	text-align: center;
	font-weight: bold;
	margin-bottom: 60px;
	&-desc{
		font-size: 18px;
		text-align: center;
		color: #7c808b;
		font-weight: 300;
		margin-bottom: 60px;
	}
}

.sub-title-form{
	@extend .sub-title;
	color: #fff;
	margin-bottom: 40px;
}

.sub-title-desc-form{
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin-bottom: 60px;
}

.header__banner{
	display: block;
	margin: 0 auto;
}

#toTop {
	width: 55px;
	height: 55px;
	border-width: 1px;
	border-color: #fff;
	border-style: solid;
	background-color: #fff;
	box-shadow: 0 5px 13px 0 rgba(0,0,0,.1);
	z-index: 300;
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: none;
	border-radius: 50%;
	cursor: pointer;
	&:before{
		content:"";
		display: block;
		width: 26px;
		height: 14px;
		background: url(https://fast.ulmart.ru/ns/verstka/fulfillment/img/arr-top.png) no-repeat;
		margin: 17px auto 0;
	}
}