include blocks/head-service/head
include common/mixins
include common/js


body
	.layout_center_wrapper-project
		header.header
			+top-line()
			.header-title-wrapper
				.container
					.row
						.col-lg-5.col-md-8.col-sm-10.col-xs-12
							h1.header-title
								|Фулфилмент
								br
								|
								span от Юлмарта
							.header-text
								|Используйте логистические мощности Юлмарта для развития вашего бизнеса. Храните товары на наших складах и продавайте на витрине ulmart.ru!
							a(href="#form-section", class="header-btn") Оставить заявку
		section.packages-section#packages-section
			.top-line2
				.container
					.row.align-items-start
						.col-lg-3.col-md-12.col-sm-12.col-12.align-self-center.justify-content-center
							a(class="top-line__logo" href="https://www.ulmart.ru/", target="_blank")
								img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/ulmart-logo-red.png", alt="logo")
							//-img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/ulmart-logo-white.png", alt="logo")
						.col-lg-7.col-md-12.col-sm-12.col-12.offset-lg-2.align-self-center.justify-content-center
							nav.nav2
								ul.nav-list
									li.nav-item
										a(href="#packages-section", class="nav-link") Пакеты услуг
									li.nav-item
										a(href="#work-section", class="nav-link") Как это работает?
									li.nav-item
										a(href="#why-section", class="nav-link") Почему мы?
									li.nav-item
										a(href="#form-section", class="nav-link") Оставить заявку
			h2.sub-title
				|Пакеты услуг
			.container
				.row
					.col-lg-4.col-md-6.col-sm-12.col-xs-12
						.packages-item
							.packages-head
								h3.packages-head__title
									|Хранение
								.packages-head__text
									|150 000 м
									sup 2 
									| современных 
									br
									|складских помещений
							.packages-body
								ul.packages-body__list
									li.packages-body__item.packages-body__item-active Приёмка
									li.packages-body__item.packages-body__item-active Хранение
									li.packages-body__item.packages-body__item-active Обработка
									li.packages-body__item.packages-body__item-active Доставка
									li.packages-body__item.packages-body__item-disable Витрина ulmart.ru
									li.packages-body__item.packages-body__item-disable Продвижение, услуги контакт-центра
									li.packages-body__item.packages-body__item-disable Рассчётно-кассовое обслуживание
									li.packages-body__item.packages-body__item-disable Выдача
									li.packages-body__item.packages-body__item-disable Возврат
								a(href="#", class="packages-btn", id="packages-btn__one") Оставить заявку
					.col-lg-4.col-md-6.col-sm-12.col-xs-12
						.packages-item
							.packages-head
								h3.packages-head__title
									|Продажа
								.packages-head__text
									|540 000 уникальных посетителей
							.packages-body
								ul.packages-body__list
									li.packages-body__item.packages-body__item-active Витрина ulmart.ru
									li.packages-body__item.packages-body__item-active Продвижение, услуги контакт-центра
									li.packages-body__item.packages-body__item-active Рассчётно-кассовое обслуживание
									li.packages-body__item.packages-body__item-active Выдача
									li.packages-body__item.packages-body__item-active Возврат
									li.packages-body__item.packages-body__item-disable Приёмка
									li.packages-body__item.packages-body__item-disable Хранение
									li.packages-body__item.packages-body__item-disable Обработка
									li.packages-body__item.packages-body__item-disable Доставка
								a(href="#", class="packages-btn", id="packages-btn__two") Оставить заявку
					.col-lg-4.col-md-6.col-sm-12.col-xs-12
						.packages-item
							.packages-head
								h3.packages-head__title
									|Хранение + продажа
								//- .packages-head__text
								//- 	|Пакет 3
							.packages-body
								ul.packages-body__list
									li.packages-body__item.packages-body__item-active Приёмка
									li.packages-body__item.packages-body__item-active Хранение
									li.packages-body__item.packages-body__item-active Обработка
									li.packages-body__item.packages-body__item-active Доставка
									li.packages-body__item.packages-body__item-active Витрина ulmart.ru
									li.packages-body__item.packages-body__item-active Продвижение, услуги контакт-центра
									li.packages-body__item.packages-body__item-active Рассчётно-кассовое обслуживание
									li.packages-body__item.packages-body__item-active Выдача
									li.packages-body__item.packages-body__item-active Возврат
								a(href="#", class="packages-btn" id="packages-btn__three") Оставить заявку
		section.work-section#work-section
			h2.sub-title
				|Как это работает?
			.sub-title-desc
				|Независимо от размеров вашего бизнеса мы готовы предложить вам полный цикл услуг — от момента 
				br
				|оформления заказа покупателем до момента получения покупки.
			.container
				.row.align-items-center
					.offset-lg-2.offset-md-2.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.work-picture.work-picture__one
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/work-icon1.png", alt="Как это работает?", with="270px", height="270px", class="work-img")
					.col-lg-5.col-md-5.col-sm-6.col-xs-12.align-self-center
						.work-text-wrapper.work-text-wrapper-right
							h3.work-title
								|Свяжитесь с нами
							p.work-text
								a(href="#form-section") Оставьте заявку
								|  на сайте, и мы индивидуально подберём подходящий комплекс услуг и гибкий тариф в соответствии с нуждами вашего бизнеса. 

				.row.align-items-center
					.offset-lg-2.offset-md-2.col-lg-5.col-md-5.col-sm-6.col-xs-12.align-self-center
						.work-text-wrapper.work-text-wrapper-left
							h3.work-title
								|Подготовьте товары
							p.work-text
								|Убедитесь, что ваши товары надёжно упакованы, промаркированы, имеют все необходимые документы и сертификаты.
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.work-picture.work-picture__two
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/work-icon2.png", alt="Как это работает?", with="270px", height="270px", class="work-img")

				.row.align-items-center
					.offset-lg-2.offset-md-2.col-lg-3.col-md-3.col-sm-6.col-xs-12.align-self-start
						.work-picture.work-picture__three
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/work-icon3.png", alt="Как это работает?", with="270px", height="270px", class="work-img")
					.col-lg-5.col-md-5.col-sm-6.col-xs-12.align-self-center
						.work-text-wrapper.work-text-wrapper-right
							h3.work-title
								|Храните надёжно
							p.work-text
								|Воспользуйтесь нашими многофункциональными складскими комплексами, удобно расположенными в черте города.

				.row.align-items-center
					.offset-lg-2.offset-md-2.col-lg-5.col-md-5.col-sm-6.col-xs-12.align-self-center
						.work-text-wrapper.work-text-wrapper-left
							h3.work-title
								|Размещайте на ulmart.ru
							p.work-text
								|Ежемесячно ваши товары будут видеть более 13,5 млн посетителей сайта 
								a(href="https://www.ulmart.ru/", class="work-link") ulmart.ru.
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.work-picture.work-picture__four
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/work-icon4.png", alt="Как это работает?", with="270px", height="270px", class="work-img")

				.row.align-items-center
					.offset-lg-2.offset-md-2.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.work-picture.work-picture__five
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/work-icon5.png", alt="Как это работает?", with="270px", height="270px", class="work-img")
					.col-lg-5.col-md-5.col-sm-6.col-xs-12.align-self-center
						.work-text-wrapper.work-text-wrapper-right
							h3.work-title
								|Увеличивайте продажи
							p.work-text
								|Воспользуйтесь набором маркетинговых инструментов Юлмарта для продвижения ваших товаров онлайн и офлайн.

				.row.align-items-start
					.offset-lg-2.offset-md-2.col-lg-5.col-md-5.col-sm-6.col-xs-12.align-self-center
						.work-text-wrapper.work-text-wrapper-left
							h3.work-title
								|Доверьте нам всё остальное
							p.work-text
								|Сопровождение интересов клиента от этапа заказа товара и до момента его получения.  Решение вопросов, связанных с сервисным и гарантийным обслуживанием.
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.work-picture
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/work-icon6.png", alt="Как это работает?", with="270px", height="270px", class="work-img")
		section.why-section#why-section
			h2.sub-title
				|Почему мы?
			.container
				.row
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						.why-item
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/why-icon1.png", alt="", class="why-img")
							.why-title
								|Широкое покрытие
							.why-text
								|6 федеральных округов, 240 городов России 
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						.why-item
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/why-icon2.png", alt="", class="why-img")
							.why-title
								|Надёжные склады
							.why-text
								|Удобно расположенные, обогреваемые, охраняемые, от 1&nbsp;м
								sup 2
					.col-lg-4.col-md-4.col-sm-12.col-xs-12
						.why-item
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/why-icon3.png", alt="", class="why-img")
							.why-title
								|Лучшие цены
							.why-text
								|Самые низкие цены на рынке и гибкая система тарифов
				.row
					.offset-lg-2.col-lg-4.col-md-4.col-sm-6.col-xs-12
						.why-item
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/why-icon4.png", alt="", class="why-img")
							.why-title
								|13,5 млн сеансов
							.why-text
								|540 000 уникальных клиентов в день и более 4 млн просмотров страниц в месяц
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						.why-item
							img(src="https://fast.ulmart.ru/ns/verstka/fulfillment/img/why-icon5.png", alt="", class="why-img")
							.why-title
								|Индивидуальный подход
							.why-text
								|Сопровождение персонального менеджера на всех этапах работы
		section.form-section#form-section
			h2.sub-title-form
				|Оставить заявку
			.sub-title-desc-form
				|Оставьте заявку и получите расчёт! Наши менеджеры обязательно свяжутся с вами 
				br
				|в ближайшее время и проконсультируют по всем возникшим вопросам.
			form(action="https://docs.google.com/forms/d/e/1FAIpQLSeOnVPFVYkfHFtCIVCliD19vTGqcbBdFgz3lNLEsVmtbmm6-A/formResponse", class="form")
				.container
					.row
						.col-lg-6.col-md-6.col-sm-12.col-xs-12
							select(class="form-select", name="entry.41786948")
								option(selected="selected") Выберите пакет услуг
								option(class="form-option form-option__one", value="Пакет 1", name="wQNmvb") Хранение
								option(class="form-option form-option__two", value="Пакет 2", name="wQNmvb") Продажа
								option(class="form-option form-option__three", value="Пакет 3", name="wQNmvb") Хранение + продажа
							input(type="text" name="entry.1135236999" placeholder="ФИО", class="form-name form-field", required)
							input(type="text" name="entry.1285455841" placeholder="Компания, сайт", class="form-company form-field", required)
							input(type="number" name="entry.8165754" placeholder="Телефон", class="form-phone form-field", required)
							input(type="text" name="entry.2053924822" placeholder="E-mail", class="form-name form-field", required)
						.col-lg-6.col-md-6.col-sm-12.col-xs-12
							textarea(name="entry.1857027863", cols="30", rows="16", class="form-textarea", placeholder="Ваше обращение")
						input(type="submit", value="Отправить заявку" class="form-btn") 

	#toTop
	+footer-text()


	include blocks/footer-service/footer-service
